.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: scroll;
}

.addUserButton {
    display: block;
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 0;
    overflow: hidden;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.addUserButton:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.addUserButton:active {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.22);
    transform: translateY(4px);
}

.modal-header {
    background-color: #212529;
    color: white;
}

.modal-header .btn-close {
    background-color: aliceblue;
}

.btn-close {
    border-radius: 1.375rem !important;
    opacity: 0.4 !important;
}

.modal-body {
    background-color: #212529;
    color: white !important;
}

.usersTh {
    color: white !important;
}

.usersTd {
    color: white !important;
    align-items: center;
}

.userTdName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usersThIdDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usersTdIdDiv {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formButtonsDiv {
    display: flex;
    justify-content: flex-end;
}

.cancelButton {
    margin-left: 5px;
    border-radius: 20px !important;
    background-color: #ffffff12 !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    --bs-btn-border-color: #c60d0df1 !important;
    --bs-btn-hover-border-color: #c60d0dbc !important;
}

.cancelButton:hover {
    background-color: #1f284a00 !important;
}

.submitButton {
    margin-left: 5px;
    border-radius: 20px !important;
    background-color: #ffffff12 !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    display: flex !important;
    flex-direction: row !important;
}

.submitButton:hover {
    background-color: #1f284a00 !important;
}

.usersTable {
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    margin-top: 20px;
}

.form-control {
    color: #ffffff !important;
    background-color: #ffffff12 !important;
    border-radius: 20px !important;
}

.exampleCollapseText {
    margin-top: 20px;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    border: 2px solid #9493e03d;
    border-radius: 5px;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: -1%;
}

.accordionSummaryBlur {
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    position: fixed;
    z-index: +100000;
}

.accordionDetailsBlur {
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    position: absolute;
    z-index: +100000;
}

.usersTable {
    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border: 2px solid #9493e03d !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
}

.usersTable th,
.usersTable td {
    padding: 1px !important;
    border-bottom: 1px solid #9493e03d !important;
}

.userTdNameDiv {
    padding-left: 7px !important;
}

.usersTable tr:last-child td {
    border-bottom: none !important;
}

.CircularProgress {
    margin-top: 3px;
}

.submitButtonText {
    margin-right: 6px;
}

.tableCircularProgress {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}

.UserProfileHeader {
    height: 2vh;
    display: flex;
    justify-content: space-between;
}

.UserProfileHeaderName {
    height: 2vh;
}

.UserProfileHeaderCloseButtonDiv {
    height: 2vh;
}

.UserProfileHeaderCloseButton {
    height: 1vh;
    padding: 0px !important;
}

.UserProfileHeaderCloseButtonIcon {
    font-size: 1.0rem !important;
}

.UserProfileHeaderBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.UserProfileHeaderBodyName {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


@media (max-width: 800px) {
    .user-component {
        top: 10vh;
        left: calc(50% - 100px);
    }
}

.user-component {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    border: 2px solid #9493e03d;
    border-radius: 4px;
}

.user-icon-row {
    margin-top: 10px;
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-row img {
    width: 50px;
    height: 50px;
}

.user-info-row {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
}

.about-info-column {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
    margin-bottom: 10px;
}

.about-info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.about-info-column-logo {
    width: 90%;
}

.about-info-column-logo-div{
    /* align-items: center; */
    display: flex;
    justify-content: center;
}

.about-info-column-p {
    margin-left: 5%;
    width: 90%;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.user-actions-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #ffffff;
    font-size: 10px;
    align-items: stretch;
}

.user-actions-button-elements {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    height: 15px;
}

.user-actions-button-elements-logout {
    padding-left: 3px;
}

.user-actions-button-elements-about {
    padding-left: 15px;
}

.user-actions-button-elements-icon {
    width: 15px !important;
}

.user-actions-button-elements-text {
    font-size: 10px;
}

.user-actions-button {
    margin-left: 5px;
    height: 30px;
    width: 80px;
    border-radius: 20px !important;
    background-color: #ffffff12 !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    display: flex !important;
    flex-direction: row !important;
}

.aboutLink:hover {
    color: #c3dafd !important;
}
